@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --tracks:#9dbdd37c;
    --background: #1e316f;
    --gradiente-hover:linear-gradient(#f5d23f , #e5a82c);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--background);
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
}
.container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}
.header {
    background: url(img/BG-header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    .container {
        display: grid;
        justify-items: center;
        padding: 2rem;
        gap: 1rem;
        position: relative;
    }
}
.title {
    text-align: center;
}
.image-container {
    aspect-ratio: 1 / 1;
    background: #ffffff77;
    border-radius: 50%;
    width: 10rem;
    padding: 0.5rem;
}
.image {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 50%;
    vertical-align: top;
}
.equalizer {
    position: absolute;
    bottom: 0;
    opacity: 50%;
}
.vguadalupe {
    position: absolute;
    bottom: 0;
    height: 10rem;
    right: 2rem;
}
.rosa-roja {
    position: absolute;
    transform: rotate(90deg);
    bottom: -4.7rem;
}
.main {
    padding-bottom: 2rem;
}
.container-tracks {
    margin: 2rem; 
    margin-left: 4rem;
    display: grid;
    gap: 1rem;
}
.track {
    display: flex;
    align-items: center;
    background: var(--tracks);
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 3rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    &:active {
        transform: scale(.9);
        box-shadow: 0 0 20px 20px #fff;
    }
    &:hover {
        background: var(--gradiente-hover);
    } 
    &:hover .track__name {
        color: var(--background);
    }
    &:hover svg {
        color: #000;
    }
}
.track__thumb-container {
    width: 4rem;
    position: absolute;
    left: -2rem;
}
/* .track__thumb*/
.track__name {
    font-size: 1.3rem;
    font-weight: 500;

    &::first-letter{
        text-transform: capitalize;
    }
}
.footer {
    box-shadow: 0 0 10px 5px #ffffff70;
}
.footer__img{
    width: 100%;
}
